<div fxLayout="column" fxLayoutAlign="start start" class="main-wrapper">
	<app-header></app-header>
	<mat-drawer-container class="drawer-container">
		<mat-drawer #drawer class="drawer" mode="side" [opened]="isSidebarOpened$ | async">
			<mat-nav-list fxLayout="column" fxLayoutGap="10px">
				<a mat-list-item [routerLink]="['/waiter']">Waiter</a>
				<a mat-list-item [routerLink]="['/bartender']">Bartender</a>
				<a mat-list-item [routerLink]="['/menu']">Menu</a>
			</mat-nav-list>
		</mat-drawer>
		<mat-drawer-content>
			<router-outlet></router-outlet>
		</mat-drawer-content>
	</mat-drawer-container>
</div>
