app-menu {

}
.drink-card__wrapper {
    width: 400px;
    margin: 10px;
}

.fab-button {
    position: absolute;
    bottom: 10%;
    right: 10%;
    height: 64px;
    width: 64px;
}

.form-wrapper {
    max-width: 400px;
}
