<div fxLayout="row wrap">
  <mat-card *ngFor="let drink of drinks$ | async" class="drink-card__wrapper">
    <mat-card-title>{{ drink.name}}</mat-card-title>
    <mat-card-subtitle>{{ drink.category}}</mat-card-subtitle>
    <mat-card-content>{{ drink.price}}</mat-card-content>
    <mat-card-actions fxLayout="row" fxLayoutAlign="end center">
      <span fxFlexFill></span>
      <button i18n="update button|Every update button should have this translation@@updateButton" mat-raised-button color="primary"
        (click)="updateDrink(drink)">
        Update
      </button>
      <button i18n="delete button|Every delete button should have this translation@@deleteButton" mat-raised-button color="warn"
        (click)="deleteDrink(drink)">
        Delete
      </button>
    </mat-card-actions>
  </mat-card>
</div>

<button i18n="create button|Every create button should have this translation@@createButton" (click)="createDrink()" mat-fab
  class="fab-button" color="primary">
  Create
</button>
