<div fxLayout="column" fxLayoutAlign="space-around start" fxLayoutGap = "10px" class="main-wrapper">
  <mat-toolbar>Officiant</mat-toolbar>
  <div fxLayout="row wrap">
    <mat-card
      *ngFor="let drink of drinks$ | async"
      class="drink-card__wrapper">
      <mat-card-title>{{ drink.name}}</mat-card-title>
      <mat-card-subtitle>{{ drink.category}}</mat-card-subtitle>
      <mat-card-content>{{ drink.price}}</mat-card-content>
      <mat-card-actions fxLayout="row" fxLayoutAlign="end center">
        <span fxFlexFill></span>
        <button mat-raised-button color="primary" (click)="updateDrink(drink)" >
          Update
        </button>
        <button mat-raised-button color="warn" (click)="deleteDrink(drink)">
          Delete
        </button>
      </mat-card-actions>
    </mat-card>
    <mat-spinner *ngIf="drinksAreLoading$ | async"></mat-spinner>
  </div>

  <button
    (click)="createDrink()"
    mat-fab
    class="fab-button"
    color="primary">
    Create
  </button>

</div>

<router-outlet></router-outlet>
