@import '../../variables.scss';
.register-wrapper {
	background: $oficiant-background linear-gradient($oficiant-background, $oficiant-primary);

	mat-card {
        min-height: 300px;
        max-width: 90%;
    }
}
