
<div fxLayout="row" fxLayoutAlign="center center" fxFlexFill class="login-wrapper" >
	<mat-card
		[formGroup]="loginForm"
		autocomplete="off"
		*ngIf="!showRegister"
		[@slideInOut]>
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
      <mat-card-subtitle>With email or Google</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field fxFlexFill>
        <input
          autocomplete="new-email"
          matInput
          i18n-placeholder="email placeholder|@@emailPlaceholder"
          placeholder="Email" type="text" formControlName="email"
        />
        <mat-error
          i18n="email error message|@@emailError"
          *ngIf="loginForm.get('email').invalid">
        Email is required
        </mat-error>
      </mat-form-field>
      <mat-form-field fxFlexFill>
        <input
          autocomplete="new-password"
          matInput
          i18n-placeholder="password placeholder|@@passwordPlaceholder"
          placeholder="Password"
          [type]="hide ? 'password' : 'text'"
          formControlName="password"
        />
        <mat-icon
          matSuffix
          (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
        <mat-error
        i18n="password error message|@@passwordError"
        *ngIf="loginForm.get('password').invalid">Password is required</mat-error>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">
      <button
        class="signin-button"
        i18n="@@Login"
        mat-raised-button
        color="primary"
        (click)="signIn(loginForm.value)">
        Login with email
      </button>
      <button i18n="@@LoginGoogle"
        mat-raised-button color="primary"
        class="signin-button"
        (click)="signInWithGoogle()">
        Login with google
      </button>
      <button
      i18n="@@NOT_REGISTERED"
      mat-button
      color="primary"
      (click)="toggleRegister()">
        Not registered?
      </button>
    </mat-card-actions>
  </mat-card>
  <app-register
  [showRegister] = "showRegister"
  (toggleRegister) = "toggleRegister()"
  ></app-register>
</div>
