/* You can add global styles to this file, and also import other style files */

@import "./reset.scss";
@import "./app/variables.scss";
.full-width {
    width: 100%;
}

.error-toaster {
    background-color: $oficiant-warn;
    color: white;
}
