/* You can add global styles to this file, and also import other style files */

@import "./reset.scss";
@import "./app/variables.scss";
.full-width {
    width: 100%;
}

.error-snackbar {
    background-color: $oficiant-warn;
    color: white;
}

.success-snackbar {
    background-color: $oficiant-success;
    color: white;
}

.info-snackbar {
		background-color: $oficiant-primary;
		font-weight: 700;
		text-align: center;
}

[hidden] {
    display: none !important;
}

mat-card {
    border-radius: 10px !important;
}
