<div fxLayout="column" fxLayoutAlign="start start" class="main-wrapper">
	<app-header class="full-width"></app-header>
	<mat-drawer-container class="drawer-container">
		<mat-drawer #drawer class="drawer" mode="side" [opened]="isSidebarOpened$ | async">
			<mat-nav-list fxLayout="column" fxLayoutGap="10px">
				<a mat-list-item [routerLink]="['/waiter']">Waiter</a>
				<a mat-list-item [routerLink]="['/bartender']">Bartender</a>
				<a mat-list-item [routerLink]="['/menu']">Menu</a>
			</mat-nav-list>
		</mat-drawer>
		<mat-drawer-content>
			<div fxLayout="row wrap" fxLayoutGap="10px">
				<app-menu-item-card
					fxFlex.xs="100%"
					*ngFor="let drink of drinks$ | async"
					class="drink-card__wrapper"
					[drink]="drink"
					(onUpdate)="updateDrink(drink)"
					(onDelete)="deleteDrink(drink)"
				></app-menu-item-card>

				<button
					i18n="create button|Every create button should have this translation@@createButton"
					(click)="createDrink()"
					mat-fab
					class="fab-button"
					color="primary"
				>
					Create
				</button>
			</div>
		</mat-drawer-content>
	</mat-drawer-container>
</div>
