.drink-card__wrapper {
    max-width: 100%;
    min-height: 120px;
    margin: 10px;
}

.fab-button {
    position: absolute;
    bottom: 10%;
    right: 10%;
    height: 64px;
    width: 64px;
}

.form-wrapper {
    max-width: 400px;
}

.main-wrapper {
    height: 100%;
    width: 100%;
    background-color: #303030;
}

@media screen and (min-device-width: 600px) {
    .drink-card__wrapper {
       width: 400px;
       min-width: 400px;
    }
}
