<div fxLayout="column" fxLayoutAlign="start start" class="main-wrapper">
  <app-header class="full-width"></app-header>
  <div fxLayout="row wrap" fxLayoutGap="10px">
		<app-menu-item-card
		fxFlex.xs="100%"
    *ngFor="let drink of drinks$ | async"
    class="drink-card__wrapper"
    [drink] = "drink"
    (onUpdate) = "updateDrink(drink)"
    (onDelete) = "deleteDrink(drink)"
    ></app-menu-item-card>
  </div>

  <button
    i18n="create button|Every create button should have this translation@@createButton"
    (click)="createDrink()"
    mat-fab
    class="fab-button"
    color="primary">
    Create
  </button>
</div>

